apiVersion: apps/v1
kind: Deployment
metadata:
  annotations:
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas"
  name: backend-tests-go-lvacjklr
spec:
  replicas: 1
  template:
    spec:
      containers:
        - image: quay.io/rhtap_qe/backend-tests-go-lvacjklr:30fdba30600e9bf75a91a34a3a269e72f2ee8996@sha256:7c3e91a3f87e251c4034ea309362f56bdc369e09c2774d85bc10bc8b031d0832
          name: container-image
